<html>
<head>
<script src="public/extern/angular.js"></script>
<script src="public/extern/angular-resource.min.js"></script>
<script src="public/extern/angular-cookies.min.js"></script>
<script src="public/extern/angular-ui-router.min.js"></script>
<script src="public/extern/angular-websocket.min.js"></script>
<link rel="stylesheet" href="public/extern/bootstrap.css">
<script src="public/extern/ui-bootstrap.min.js"></script>

<script src="/public/js/api.js"></script>
<script src="/public/js/script.js"></script>
<script src="/public/js/controllers.js"></script>
<script src="/public/js/services.js"></script>
<link rel="stylesheet" href="/public/css/index_style.css">
</head>

<body ng-app="JNPAPP" class="container-fluid" style="padding-top: 70px;">
<header>
<div class="navbar navbar-default navbar-fixed-top" ng-controller="CurrentUserController">
<div class="row">
    <div class="col-sm-1">Hello {{ username }}!</div>
    <div class="col-sm-1"><a ui-sref="wall" href="#">Main Page</a></div>
    <div class="col-sm-3" ng-controller="ElasticSearchController">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="elasticSearchQuery" placeholder="Search...">
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="search()">Search</button>
            </div>
            <p ng-repeat="(name, errs) in newPostError" class="alert alert-danger"><strong>{{ name }}</strong>: {{ errs.join(', ') }}</p>
        </form>

    </div>
    <div class="col-sm-1"><a ui-sref="userDetails.posts({username: username})" href="#">Your profile</a></div>
    <div class="col-sm-1"><a ui-sref="userDetails.friends({username: username})" href="#">Your friends</a></div>
    <div class="col-sm-1 pull-right"><a href="#" ng-click="logout()">Logout</a></div>
</div>
</header>
<div class="row">
    <div class="col-sm-8" ui-view></div>
    <div ng-controller="CurrentUserController">
    <div class="col-sm-4" ng-include="'pages/friendsSideBar.html'" ></div>
    </div>
</div>
<div class="chat" ng-controller="ChatController">
    <label for="chat-user-name">User</label>
    <input id="chat-user-name" type="text" class="col-xs-8" ng-model="chatUser" placeholder="Enter username">

    <div class="chat-messages">
        <div ng-repeat="message in chat.messages"><strong>{{ message.username }}</strong>: {{ message.message }}</div>
    </div>
    <form class="form-inline">
        <input type="text" class="col-xs-8" ng-model="newChatMessage" placeholder="Type...">
        <button class="col-xs-4" ng-click="send()">Send</button>
    </form>
</div>
<script>
var app = angular.module('JNPAPP.api');
app.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
}]);
</script>
</body>
</html>
