<html>
<head>

<script src="public/extern/angular.min.js"></script>
<script src="public/extern/angular-resource.min.js"></script>
<script src="public/extern/angular-cookies.min.js"></script>
<script src="public/extern/angular-ui-router.min.js"></script>
<link rel="stylesheet" href="public/extern/bootstrap.css">
<script src="public/extern/ui-bootstrap.min.js"></script>
<script src="public/extern/hello.all.min.js"></script>

<script src="/public/js/auth.min.js"></script>

</head>

<body ng-app="JNPAPP.auth">
<div class="container">
<div class="content ng-cloak" ng-controller="RegisterController">
    <h5>Register</h5>
    <form class="form-inline">
        <div class="form-group block-level">
            <input type="text" class="form-control" ng-model="newUser.username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newUser.email" placeholder="E-mail">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newUser.password" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="Register()">Register</button>
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="RegisterGoogle()">Register using Google+</button>
        </div>
        <p ng-repeat="(name, errs) in registerErrors" class="alert alert-danger"><strong>{{ name }}</strong>: {{ errs.join(', ') }}</p>
        <p ng-bind="registerMessage" ng-hide="registerMessage==null" class="alert alert-success"></p>

    </form>
</div>
</div>

<div ng-controller="LoginController">
    <h5>Login</h5>
    <form class="form-inline">
        <div class="form-group block-level">
            <input type="text" class="form-control" ng-model="user.username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="Login()">Login</button>
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="LoginGoogle()">Login using Google+</button>
        </div>
        <p ng-repeat="(name, errs) in loginError" class="alert alert-danger"><strong>{{ name }}</strong>: {{ errs.join(', ') }}</p>
    </form>
</div>
</body>
</html>